header {

	.container {
		background-color: #FFF;
		text-align: center;
		padding: 48px 0 24px 0;
		//border-bottom: 1px solid #CCC;
		.head {
			.title {
				/*font-family: @title-font;
				font-size: 48px;
				padding: 0 0 0 0;*/
				img {
					width:160px;
					height:70px;
				}
			}
			.tag-line {
				//padding: 0 0 24px 0;
				margin: 0 0 24px 0;
				font-size: 0.8em;
				//color: #BBB;
			}
		}

		nav {
			padding: 15px 0 15px 0;
			li {
				display: inline;
				padding: 0 5px 0 5px;

				a {
					display: inline-block;
					font-family: 'Josefin Sans',sans-serif;
					font-size: 1.1em;
					&:after {
						content: '';
						display: block;
						height: 2px;
						width: 0;
						background: transparent;
						transition: width .3s ease, background-color .3s ease;
					}
					&:hover:after {
						width: 100%;
						background: #000;
					}
				}
			}
		}
	}


	@media screen and (min-width: 320px) {
		.container {
			padding: 24px 0 0 0;
		}
	}

	@media screen and (min-width: 768px) {
		.container {
			padding: 48px 0 24px 0;
		}
	}


}
.black-ribbon {
  position: fixed;
  z-index: 9999;
  width: 70px;
  right: 0;
}


