header {
	.container {
		background-color: #FFF;
		text-align: center;
		padding: 48px 0 24px 0;
		border-bottom: 1px solid #CCC;
		.head {
			.title {
				font-family: @title-font;
				font-size: 48px;
				padding: 0 0 0 0;
				
			}
			.tag-line {
				//padding: 0 0 24px 0;
				margin: 0 0 24px 0;
				font-size: 14px;
				//color: #BBB;
			}
		}

		nav {
			padding: 15px 0 15px 0;
			li {
				display: inline;
				padding: 0 5px 0 5px;

				a {
					display: inline-block;
					&:after {
						content: '';
						display: block;
						height: 2px;
						width: 0;
						background: transparent;
						transition: width .3s ease, background-color .3s ease;
					}
					&:hover:after {
						width: 100%;
						background: #000;
					}
				}
			}
		}
	}
}