.do-home {
	
	padding:36px 0 0 0;
	//max-width: 720px;  


	.article {
		a {
			.post-thumbnail {
				background-position: center;
				background-size: 100%;
				//background-size: contain;
				background-repeat: no-repeat;
				height: 400px;
			}
		}
	}
}