.do-home {
	padding: 36px 0 0 0;
	float: left;
	width: 100%;
	background-color: @background-color-secondary;
	border-top: 1px solid #DDD;

	.articles {
		width: 66%;
		//padding: 0 15px 0 72px;
		//position: relative;
		float: left;

		.article {
			//box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
			//box-sizing: border-box;
			margin: 0 0 15px 144px;
			background-color: #FFF;
			// a {
			// 	.post-thumbnail {
			// 		background-position: center;
			// 		background-size: 100%;
			// 		//background-size: contain;
			// 		background-repeat: no-repeat;
			// 		height: 300px;
			// 	}
			// }
		}
	}
	.sidebar {
		width: 33%;
		float: left;
		.inner{
			padding: 0 144px 15px 36px;
			.title {
				padding: 0 0 15px 0;
				font-family: @head-font;
				font-weight: 600;
				font-size: 1.4em;
			}
			.gravatar {
				padding: 0 0 15px 0;
				img {border-radius: 50px;}
			}
			.author-name {
				margin: 0 0 5px 0;
				font-weight: 600;
			}
			.author-sub-name {
				margin: 0 0 15px 0;
				font-size: 0.9em;
				color: #555;
				font-weight: 600;

			}
			.author-detail {
				font-size: 0.8em;
			    padding: 5px 0 5px 10px;
			    border-left: 3px solid #CCC;
			    margin: 0 0 15px 0;
			}
			.social-icons {
				img {
					width:24px;
					margin:0 5px 0 0;
				}
			}
		}
	}


	@media screen and (min-width: 320px) {
	  .articles {
	    width: 100%;
	    float: none;
	    .article{
	    	margin: 0 0 20px 0;
	    	a {
			 	.post-thumbnail {

			 		
			 		-webkit-background-size: cover;
				    -moz-background-size: cover;
				    -o-background-size: cover;
			 		background-size: cover;
			 		//background-size: 105%;
			 		background-position: center;
    				background-repeat: no-repeat;
			 		height: 200px;
			 		//-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    				//filter: grayscale(100%);


					// -moz-transition: -moz-filter .3s ease;
					// -ms-transition: -ms-filter .3s ease;
					// -webkit-transition: -webkit-filter .3s ease;
					// -o-transition: -o-filter .3s ease;
					// transition: filter .3s ease;

			 	// 	//img {width:100%;height:auto;}
			 	
			 	}
			 	.post-thumbnail:hover{
					//background-size: 100%;
					//-webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    				//filter: grayscale(0%);
			 	}
			 	.post-thumbnail::after {
			 		content: '';
			 		width: 100%;
			 		height: 100%;
			 		display: block;
			 		position: relative;
			 		background-color: rgba(0, 0, 0, 0.2);
			 		-moz-transition: background-color .3s ease;
					-ms-transition: background-color .3s ease;
					-webkit-transition: background-color .3s ease;
					-o-transition: background-color .3s ease;
					transition: background-color .3s ease;
			 	}
			 	.post-thumbnail:hover::after {
			 		
			 		background-color: rgba(0, 0, 0, 0.0);
			 	}
			}
			.title {
				padding:20px;
				font-family: @head-font;
				font-size: 1.3em;
			}
			.content {
				padding: 0 20px 20px 20px;
				color: #555;
				font-size: 0.9em;
			}
	    }
	  }
	  .sidebar {
	  	width: 100%;
	  	float: none;
	  	.inner{
			padding: 20px 0 0 0;
			text-align: center;
			.author-detail {
				padding: 5px 0;
				border-left: none;
			}
		}
	  }
	}

	@media screen and (min-width: 768px) {
	  .articles {
	    width: 66.6667%;
	    float: left;
	    .article {
	    	margin: 0 0 15px 16px;
	    	a {
			 	.post-thumbnail {
			 		height: 250px;
			 	}
			 }
	    }
	  }
	  .sidebar {
	  	width: 33.3333%;
	  	float: left;
	  	.inner{
			padding: 0 16px 15px 36px;
			text-align: left;
			.author-detail {
				padding: 5px 0 5px 10px;
				border-left: 3px solid #CCC;
			}
		}
	  }
	}

	@media screen and (min-width: 1024px) {
	  .articles {
	    width: 66.6667%;
	    float: left;
	    .article {
	    	margin: 0 0 15px 144px;
	    	a {
	    		.post-thumbnail {
	    			height: 300px;
	    		}
	    	}
	    }
	  }
	  .sidebar {
	  	width: 33.3333%;
	  	float: left;
	  	.inner{
			padding: 0 144px 15px 36px;
			text-align: left;
		}
	  }
	}

}