article {

	max-width: 720px;
	margin: 0 auto 0 auto;

	h1.title {
		font-family: @head-font;
		font-weight: 600;
		font-size: 2.2em;
		padding: 32px 0;
		text-transform: uppercase;
	}

	img {
		max-width: 100%;
		height: auto;

	}



}