.do-post, .do-page {

	//background-color: #FAFAFA;
	min-height: 360px;
	padding: 0;
	//padding-top: 36px;

	.post-thumbnail {
		max-width: 1024px;
		//padding: 0 1px 0 1px;
		margin: auto;
	    
		//box-shadow: 1px 1px 4px #CCC;
		//box-sizing: border-box;
		
		line-height: 0;
	    
	    img {
			max-width: 100%;
			height: auto;
			margin: 0;
		}
	}
    
	article {

		max-width: 720px;
		margin: 0 auto;
		padding: 2em;
		//background-color: #FFF;
		//box-shadow: 1px 1px 4px #CCC;
		//box-sizing: border-box;

		p {
			margin: 0 0 1em 0;
			line-height: 1.3em;
		}

		h1.title {
			font-family: @head-font;
			font-weight: 600;
			font-size: 2em;
			padding: 1em 0;
			
		}

		img {
			max-width: 100%;
			height: auto;
			margin: 0 0 1em;

		}

		blockquote {
		    padding: 1em 1em;
		    margin: 0 0 1em 0;
		    
		    border-left: 3px solid #cdcdcd;
		    p {
		    	margin: 0;
		    	line-height: 1.3em;
		    }
		}
	}

	.about-me {

		padding: 36px 0 0 0;
		text-align: center;
		background-color: @background-color-secondary;
		.title {
			padding: 0 0 15px 0;
			font-family: @head-font;
			font-weight: 600;
			font-size: 1.4em;
		}
		.gravatar {
			padding: 0 0 15px 0;
			img {border-radius: 50px;}
		}
		.author-name {
			margin: 0 0 5px 0;
			font-weight: 600;
		}
		.author-sub-name {
			margin: 0 0 15px 0;
			font-size: 0.9em;
			color: #555;
			font-weight: 600;

		}
		.author-detail {
			font-size: 0.8em;
		    padding: 5px 0 5px 10px;
		    border-left: 3px solid #CCC;
		    margin: 0 0 15px 0;
		}
		.social-icons {
			img {
				width:24px;
				margin:0 5px 0 0;
			}
		}
	
	}

	@media screen and (min-width: 320px) {
		article {
			padding: 1.5em;
		}
	}

	@media screen and (min-width: 768px) {
		article {
			padding: 2em;
		}
	}

	@media screen and (min-width: 1024px) {
		
	}
}